<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default `en-US` }}">
{{- partial "head/head.html" . }}

<body id="page-top">
  <div class="overflow-hidden lg:border-[14px] lg:border-[#0074C8] pt-9">
    {{- partial "header/header.html" . }}
    {{- block "main" . }}{{ end }}
    {{- partial "footer/footer.html" . }}
  </div>
  <script>
    document.querySelectorAll('a[href^="/#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        const targetId = this.getAttribute('href').substring(2);
        const targetElement = document.getElementById(targetId);
        if (targetElement) {
          let offset = targetElement.offsetTop - 80;
          if (targetId === 'page-top') {
            offset = 0;
          }
          window.scrollTo({
            top: offset,
            behavior: 'smooth',
          });
        }
      });
    });
  </script>
</body>

</html>
