{{ define "main" }}
<main id="site-main" class="search-page py-12">
    <div class="container w-full max-w-screen-lg mx-auto md:px-5">
        <div class="px-5">
            <div class="search-input-wrapper relative mb-6">
                <input type="text" id="search-input" placeholder="Type to search..."
                    class="search-input w-full text-lg text-black font-body placeholder:text-gray-400 outline-none border border-gray-300 rounded-md py-2 pl-4 pr-10" />
                <span id="clear-input" class="clear-input hidden">×</span>
            </div>
            <div id="search-results" class="search-results space-y-6"></div>
        </div>
    </div>
</main>
{{ end }}