{{- define "main" }}
<div id="main" class="home pt-10">
    <div class="container w-full max-w-[710px] mx-auto">
        {{/*  {{ partial "page-header.html" . }}  */}}
        <div>
            {{- if eq .Section "blog" }}
            <header class="max-w-[640px] mx-auto mb-10 px-6 md:px-0">
                {{ partial "post-date-meta.html" . }}
                <h3 class="text-[#0E4678] text-4xl font-heading font-normal mb-5">{{ .Title }}</h3>
                {{ partial "post-meta.html" . }}
            </header>
            <div class="overflow-hidden mb-10 px-6 lg:px-0">
                {{- with .Resources.GetMatch .Params.image_cover }}
                {{- with .Resize "710x webp" }}
                <img class="w-full h-auto" loading="lazy" src="{{ .RelPermalink }}" width="{{ .Width }}"
                    height="{{ .Height }}" alt="{{ .Title }}">
                {{- end }}
                {{- end }}
            </div>
            {{- else }}
            <header class="max-w-[640px] mx-auto mb-10 px-6 md:px-0">
                <h3 class="text-[#0E4678] text-4xl font-heading font-normal mb-5">{{ .Title }}</h3>
            </header>
            {{- end }}
            <div class="px-6 lg:px-0">
                <div class="max-w-[640px] mx-auto pb-14 border-b border-b-[#E5E5E5]">
                    <div class="text-black text-base font-body leading-snug space-y-4">
                        {{ .Content | safeHTML }}
                    </div>
                </div>
            </div>
        </div>

        {{- if eq .Section "blog" }}
        {{ partial "related.html" . }}
        {{- end }}

    </div>
</div>
{{- end }}